server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/claim_db
    username: postgres
    password: slk@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  application:
    name: claim-service