server:
  port: 8087

spring:
  application:
    name: reporting-service

  datasource:
    url: jdbc:mysql://localhost:3306/reporting_db
    username: root
    password: Axelblaze10

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: 12345678901234567890123456789012